.mui-bar-nav{box-shadow: 0 0 0;-webkit-box-shadow: 0 0 0;border-bottom: 1px solid #cecece;}
.mui-bar {background-color: #fff;}
.mui-bar a {color: #4FCB19 !important;}
.mui-bar h1 {color: #484848 !important;font-size: 17px;}
.mui-content{background: none;}
