<?xml version="1.0" encoding="UTF-8"?>
<!-- 查找最新的schemaLocation 访问 http://www.springframework.org/schema/ -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
    <mvc:annotation-driven />
	<context:component-scan base-package="com.classtao">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />
	</context:component-scan>


	<!-- 当在web.xml 中 DispatcherServlet使用 <url-pattern>/</url-pattern> 映射时，能映射静态资源 -->
	<mvc:view-controller path="/" view-name="forward:/login" />

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**/**"/> 
			<mvc:exclude-mapping path="/images/**"/> 
			<mvc:exclude-mapping path="/**/*.js"/>
			<mvc:exclude-mapping path="/**/*.html"/>
			<mvc:exclude-mapping path="/**/*.css"/>  
			<mvc:exclude-mapping path="/**/images/**"/> 
			<mvc:exclude-mapping path="/**/img/**"/> 
			<mvc:exclude-mapping path="/zju/**"/>  
			<bean class="com.classtao.DataInterceptor"/>
		</mvc:interceptor>
		<!--<mvc:interceptor>-->
			<!--<mvc:mapping path="/fileAction/**"/>-->
			<!--<bean class="com.classtao.CrossInterceptor" />-->
		<!--</mvc:interceptor>-->
	</mvc:interceptors>
</beans>
