body{
	background: #f2f2f2;
}
li{
	list-style: none;
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	*zoom: 1;
}
.zjq-permission-page{
	background:#fff;
	width: 878px;
	margin: 100px auto 0;
}
.zjq-permission-page .zjq-left-electorate{
	width: 180px;
	float: left;				
}
.zjq-permission-page .zjq-role-sel{
	margin: 34px 0 34px 33px;
	padding: 0;
}
.zjq-permission-page .zjq-role-sel li{
	margin-bottom: 27px;
	font-size: 18px;
	color: #959595;
	height: 18px;
	line-height: 18px;
	cursor: pointer;
}
.zjq-permission-page .zjq-role-sel li span{
	display: inline-block;
	width: 8px;
	height: 21px;
	background: transparent;
	border-radius: 2px;
	margin: 0 17px -3px 0;
}
.zjq-permission-page .zjq-role-sel li.active{
	font-size: 18px;
	color: #4A4A4A;
}
.zjq-permission-page .zjq-role-sel li.active span{
	background: #1CBB9E;
}
.zjq-permission-page .zjq-role-btn{
	width: 104px;
	height: 30px;
	line-height: 18px;
	background: #1CBB9E;
	border-color:#1CBB9E;
	font-size: 15px;
	color: #fff;
	margin: 7px 0 0 42px;
}
.zjq-permission-page .zjq-right-electorate{
	width: 698px;
	padding: 24px 39px 0 39px;	
	border-left: 1px solid #E9E9E9;		
	float: left;
}
.zjq-permission-page .zjq-btn-block{
	height: 30px;
	position: relative;
	margin-bottom: 18px;
}
.zjq-permission-page .zjq-role-btn.zjq-save-btn{
	width: 130px;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
}	
.zjq-permission-page .zjq-permission-list{
	margin-bottom: 40px;
}
.zjq-permission-page .zjq-permission-list li{
	border-bottom: 1px solid #EAEDEE;
}		
.zjq-permission-page .zjq-permission-list .zjq-check-block{
	width: 100%;
	height: 50px;
	line-height: 50px;				
	font-size: 18px;
	color: #4A4A4A;
}
.zjq-permission-page .zjq-permission-list .zjq-check-block span{
	display: inline-block;
	width: 16px;
	color: #C1C1C1;
	margin-right: 10px;
	cursor: pointer;
}
.zjq-permission-page .zjq-permission-list .zjq-check-block .checkbox{
	margin: 0;
	display: inline-block;
}
.zjq-permission-page .zjq-permission-list .zjq-check-block .checkbox label::before{
	margin-top: 16px;
}
/*子选择栏样式*/
.zjq-permission-page .zjq-chilid-table{
	margin-left:23px;
	padding: 19px 0 0 19px;
	border-top: 1px solid #EAEDEE;
	font-size: 14px;
	color: #4A4A4A;
	line-height: 18px;
}
.zjq-permission-page .zjq-chilid-table .checkbox-inline,.zjq-permission-page .zjq-chilid-table .checkbox-inline+.checkbox-inline{
	margin: 0 0 35px 0;
}

.zwf-btn-add{
	background: #1CBB9E;
	border-color: #1CBB9E;
	font-size: 15px;
	color: #fff;
}
.zwf-group{
	height: 300px;
}
.zwf-label{
	font-size: 18px;
}
.zwf-group-top{
	margin-top: 75px;
}
.zwf-group-footer{
	margin-top: 200px;
}
.display{
	display: none;
}
.nav-img{
	margin-left: 21.5%;
	margin-top: 10px;
}
.nav-btn{
	padding: 0;
	width: 40px;
	margin-left: 5px;
	margin-top: 10px;
}
.nav-input{
	margin-top: -27px;
	width: 118px;
	height: 29px;
	margin-left: 15px;
}

