.container .qtop{padding: 20px 38px;}
.container .qcontent{padding: 20px 23px;}
.container .top-line{margin:0; border-bottom: 3px solid #e9e9e9;}

.container .qtop .ftop-serach{display:inline;width: 280px;height: 30px;margin: 0;height: 30px;}
.container .qtop .ftop-serach input{display:inline;width: 280px;height: 30px;}
.container .qtop .ftop-serach span{position: relative;right: 28px;}

.container .qtop .qbb-search{display:inline;background-color: #1cbb9e;padding-top:4px;height:30px;border-radius:5px;width:100px;color: #fff;}
.container .qtop .qbb-select{display:inline;border-style:none;border:1px solid #d1dae1;border-radius:2px;width:137px;height:28px;}

.container .qcontent	 .list-group-item{border: none;padding: 15px 15px;}
.container .qcontent	 .list-group-item .school-head{width: 60px;height: 60px;margin-right: 90px;}
.container .qcontent	 .list-group-item .school-info p{margin: 0; font-size:14px;color:#9b9b9b;line-height:28px;text-align:left;}
.container .qcontent	 .list-group-item .school-info p span{font-size:18px;}
.container .qcontent	 .list-group-item label{font-weight: normal;font-size: 18px;width: 60px;}
.container .qcontent	 .list-group-item .media-right.media-middle{padding-left: 20px;}
.container .qcontent	 .list-group-item .btn-enabled{background-color: #1cbb9e;border-radius:5px;width:100px;padding-top:4px;height:30px;color: #fff;}
.container .qcontent	 .list-group-item .btn-online{background-color: #a9aab4;border-radius:5px;width:100px;padding-top:4px;height:30px;color: #fff;}
.btn-online {background-color: #a9aab4;border-radius:5px;width:100px;padding-top:4px;height:30px;color: #fff;}
.btn-enabled {background-color: #1cbb9e;border-radius:5px;width:100px;padding-top:4px;height:30px;color: #fff;}
.r_btn {width: 30%;  height: 40px;  background: #a9aab4;  color: #fff;}
.s_btn {width: 30%;  height: 40px;  background: #1cbb9e;  color: #fff;}
.font-content {font-size: 18px; color: #4a4a4a;text-align: left;  line-height: 20px; margin: 15px 0;}
.logo {width: 180px; height: 60%;}
.title{margin-left: 35%; font-size: 38px;}
.btn_a {width: 10%;  height: 40px;  background: #1cbb9e;  color: #fff;}
