@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    word-wrap: break-word
}
table {border-collapse: collapse;border-spacing: 0}
input, button, select, textarea {outline: 0;-webkit-box-sizing: border-box;font-family: "Microsoft yahei",sans-serif}
input:focus, textarea:focus {outline: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
ol, ul, li {list-style: none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after, q:before, q:after { content: '';}
b, strong {font-weight: bold}
img {max-width: 100%;vertical-align: middle;border: 0;-ms-interpolation-mode: bicubic;-webkit-touch-callout: none}
:focus {outline: 0}
a {color: #333;text-decoration: none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */ }

html {
    font-size: 62.5%
}
@media only screen and (min-width:481px) {
    html {
        font-size: 94%!important
    }
}
@media only screen and (min-width:561px) {
    html {
        font-size: 109%!important
    }
}
@media only screen and (min-width:641px) {
    html {
        font-size: 125%!important
    }
    body {
        max-width: 640px
    }
}
body {
    font-size: 1.2rem;
    font-family: "Microsoft yahei","Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    background-color: #fff;
    min-width: 320px;
    margin: 0 auto;
}


.fl{float:left;}
.fr{float:right;}
.clear{clear:both;zoom:1;}
.clear:after {content:".";display:block;clear:both;height:0;visibility:hidden;}

