.mui-content {
	background-color: #efeff4;
}

.hxx-alert-box {
	width: 90%;
	height: 300px;
	z-index: 999;
	position: fixed;
	margin: 30% 5% 0 5%;
	border-radius: 10px;
	background-color: #FFFFFF;
	display: none;
}

.hxx-box-head {
	text-align: center;
	padding: 10px;
}

.hxx-box-head img {
	width: 40px;
}

.hxx-box-head span {
	position: relative;
	top: -12px;
	left: 5px;
	font-size: large;
	font-weight: bolder;
}

.hxx-alert-box textarea {
	width: 90%;
	margin: 10px 5%;
	border-radius: 10px;
	background-color: #EFEEF4;
}

.hxx-alert-box .hxx-alert-btn {
	height: 45px;
	text-align: center;
	line-height: 45px;
	position: absolute;
	bottom: 0;
	color: #007AFF;
	font-size: large;
	font-weight: bolder;
}

.hxx-alert-box .btn-left {
	border-top: 1px #929292 solid;
	border-right: 1px #929292 solid;
	left: 0;
	width: 51%;
}

.hxx-alert-box .btn-right {
	border-top: 1px #929292 solid;
	right: 0;
	width: 50%;
}

.mui-table-view {
	font-size: 15px;
	margin-top: 15px;
}